data/CORD-19-research-challenge/
data/CORD-19-research-challenge.zip
data/*.pickle
data/json-cache
data/cord-cache
.idea/
task-notebooks/
**/__pycache__/
.ipynb_checkpoints/
**.egg-info/
dist/
build/
*task.ipynb