<h4 class="cord">{{paper.title}}</h4>
<div>{{meta._repr_html_()}}<div>
<h4 class="summary_title">Summary</h4>
<div id="summary">{{paper.summary}}</div>
<style>
h2.cord, h3.cord, h4.cord {margin: 15px 0px 8px 0px}
h4.cord{color:#008B8B; font-size: 1.1em; margin-top: 15px}
h4.summary_title{margin-top: 10px}
#summary {max-height:160px; border-bottom: 1px solid #696969;}
</style>